# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules

# production
/dist
**.vscode
**.eslintcache

# visual studio code
.vscode
.history
*.log
functions/*
.temp/**

# eslint
.eslintcache
.stylelintcache
*cache*/

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
yarn.lock
*bak
